/**Start of Body Section**/
body {
    background-color: #f0c6ae;
}
/**End of Body Section**/


/**Start of Header Section**/
header {
    align-items: center;
    background-color: #b3dee5;
    color: #31525b;
}

h1, p {
    display: flex;
    justify-content: center;
}
/**End of Header Section**/


/**Start of Paragraph AND Text Animation Section**/
p {
    animation: text 3s 3;
    color:#ffa101;
    font-size: 20px;
    font-weight: bold;
    padding-left: 40px;
}

@keyframes text {
    0% {
}
    5%{
        font-weight: bold;
        letter-spacing: 3px;
}
}
/**End of Paragraph AND Text Animation Section**/


/**Start of Car/Img Hover Animation Section**/
.car {
  display: flex; 
  justify-content: center;
  padding-top: 10px;
}

img:hover {
    animation-duration: 0.7s;
    animation-name: rotate;    
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
/**End of car/img Hover Animation Section**/


/**Start of Info Section**/
.info {
   background-color: #31525b;
   color: #ffa101;
   display: flex;
   justify-content: center;
   margin-top: 40px;
}
/**End of Info Section**/


/**Start of h3 Section**/
h3 {
    background-color: #31525b;
    color: #ffa101;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;   
}
/**End of h3 Section**/


/**Start of Dream/Button Section**/
.dream {
    display: flex;
    justify-content: center;
    margin-top: 40px;  
}

h1 {
    padding-left: 50px;
    padding-right: 50px;
}

h1 span {
    color:#1c4854;
    padding-right: 7px;
    text-decoration: underline;
}

#button {
    background-color: #ffa101;
    display: flex;
    font-size:10px;
}
/**End of Dream/Button Section**/

